* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 1555px;
}
.navbar{
  padding-top: 15px;
}
 .navbar .nav-item a.nav-link{
  color: goldenrod;
  font-size: 18px;
 }

 .component-categories{
  background-color: #f4f4f4;
  padding: 30px 30px 10px 30px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
 }
 .categories-text{
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 15px; 
}
.component-categories:hover{
  transform: scale(1.05);
}
.card-img-top:hover{
  transform: scale(0.90);
  transition: all 0.3s ease-in-out;
}
.text-card{
  color: salmon;
  font-weight: 500;
}
.card-text{
  font-size: 19px;
  color: black;
  font-weight: normal;
}
.component-product{
  border-radius: none;
}